.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid lightgray;
}

.link {
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.3vw;
    text-decoration: none;
    color: #000000;
}

.link:hover {
    background-color: #fbfbfb;
}